* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  gap: 20px;
}

.list-wrapper {
  width: 500px;
  height: 650px;
  background-color: #fde022;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}
ul {
  height: 500px;
  overflow-y: scroll;
  min-height: 0;
}
ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 30px;
}
.buttons-wrapper {
  display: flex;
  gap: 20px;
}
span {
  cursor: pointer;
}
.task {
  outline: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

p {
  font-family: Verdana;
}
